.recipe-list-name-row {
  height: 40px;
  line-height: 40px;
  margin: 1px 0;
  font-size: 1.2em;
}
.recipe-list-name-row:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
}
.recipe-list-name {
  display: inline-block;
}
.editDeleteBtns {
  display: inline-block;
  float: right;
}
.btn {
  margin-bottom: 3px;
}
input[type="text"] {
  border: none;
}
.prep-sum-col {
  padding: 0;
  text-align: center;
  margin-left: -10px;
}
.vertical-line {
  border-right: 1px solid #e6e6e6;
  margin-right: 10px;
  cursor: pointer;
}

.input-prep {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
.prep-label, label {
  font-weight: 100;
  color: #8c8c8c;
  margin-bottom: 5px;
  display: block;
}

.closeModal {
  display: inline-block;
  float: right;
  cursor: pointer;
}
/*Modal*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
}
.modal-title {
  display: inline-block;
}
/* Modal Content*/
.modal-content {
  background-color: #fff;
  border: 1px solid #423d3b;
  margin: 10% auto;
  padding: 20px;
  max-width: 400px;
}
.modal-input {
  margin-bottom: 10px;
}
.save-btn {
  margin-right: 10px;
}
.steps {
  margin-top: 1.2em;
}
.steps.col-xs {
  padding: 0;
}
.step-number {
  color: #8c8c8c;
  font-size: 1.7em;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  width: 1.5em;
  display: inline-block;
  text-align: center;
}
.step {
  display: inline-block;
  padding-left: 1.1em;
  margin-bottom: 1.1em;
  border: none;
  resize: none;
}
#test1 {
  -webkit-transition: margin 0.5s ease;
  -moz-transition: margin 0.5s ease;
  -o-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}
/*#test2 {*/
  /*opacity: 0;*/
/*}*/
#test2 {
  -webkit-transition: width 0.5s, opacity 0s;
  -moz-transition: width 0.5s, opacity 0s;
  -o-transition: width 0.5s, opacity 0s;
  transition: width 0.5s, opacity 0s;
}

/*input[type=""]:not(:focus)*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/
