.recipe-list-name-row {
  height: 40px;
  line-height: 40px;
  margin: 1px 0;
  font-size: 1.2em;
}
.recipe-list-name-row:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.recipe-list-name-row-focus {
  background-color: #f9f9f9;
}
.triangle-right {
  display: inline-block;
  float: right;
  width: 0;
  height: 0;
  margin-right: -15px;
  border-top: 20px solid transparent;
  border-left: 15px solid #f9f9f9;
  border-bottom: 20px solid transparent;
}

.recipe-list-name {
  display: inline-block;
}
.float-right {
  display: inline-block;
  float: right;
}
.editDeleteBtns {
  display: inline-block;
  float: left;
  /*position: relative;*/
  /*z-index: -1;*/
}
.btn {
  margin-bottom: 3px;
}
input[type="text"] {
  border: none;
}
.prep-sum-col {
  padding: 0;
  text-align: center;
  margin-left: -10px;
}
.vertical-line {
  border-right: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
}

.input-prep {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: none;
  cursor: pointer;
}
.prep-label, label {
  font-weight: 100;
  color: #8c8c8c;
  margin-bottom: 5px;
  display: block;
}

.closeModal {
  display: inline-block;
  float: right;
  cursor: pointer;
}
/*Modal*/
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
}
.modal-title {
  display: inline-block;
}
/* Modal Content*/
.modal-content {
  background-color: #fff;
  border: 1px solid #423d3b;
  margin: 10% auto;
  padding: 20px;
  max-width: 400px;
}
.modal-input {
  margin-bottom: 10px;
}
.save-btn {
  margin-right: 10px;
}
.steps {
  margin-top: 1.2em;
}
.steps.col-xs {
  padding: 0;
}
.step-number {
  color: #8c8c8c;
  font-size: 1.7em;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  width: 1.5em;
  display: inline-block;
  text-align: center;
}
.step {
  display: inline-block;
  padding-left: 1.1em;
  border: none;
  resize: none;
  cursor: pointer;
}
.row-step {
  margin-bottom: 1.1em;
}
.toc-before {
  background-color: #f9f9f9;
  box-shadow: 0 0 11px #a6a6a6;
}
.toc-after {
  background-color: #fff;
}
#recipeList {
  -webkit-transition: margin 0.5s ease, background-color 0.5s ease;
  -moz-transition: margin 0.5s ease, background-color 0.5s ease;
  -o-transition: margin 0.5s ease, background-color 0.5s ease;
  transition: margin 0.5s ease, background-color 0.5s ease;
  min-height: 100vh;
}
#recipe {
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
  background-color: #f9f9f9;
  min-height: 100vh;
  border-left: 1px solid #ccc;
  padding: 0;
}
.recipe-content {
  padding: 0 15px 0 30px;
}

img {
  width: 100%;
  max-height: 325px;
}



/*input[type=""]:not(:focus)*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/
